<div class="col-xs-10 col-xs-offset-1 about">

	<h1>About Splurty</h1>



	<p>Splurty is the first web application built by Yury Voloshin, a beginning student of web development. It was a great introduction to Ruby on Rails, CSS, HTML, and Twitter Bootstrap.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'yury.jpg', :class =>'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Yury Voloshin</h2>
		<br />
		<p>
			For about a week now, Yury Voloshin has been in the process of becoming a web developer. In a former life, he was a chemical engineer. He received a PhD in chemical engineering in 2008 and worked at <a target="_blank" href="http://www.catalysts.basf.com/">BASF Catalysts</a> for 6 years, where he tested and simulated catalytic converters for abatement of exhaust emissions from cars and trucks. He was laid off in 2014 and decided to become a web developer. Yury's other interest is cooking, which led him to document the more notable dishes in a <a target="_blank" href="https://bystroblog.wordpress.com/">blog</a> and to write a <a target="_blank" href="http://www.amazon.com/dp/B00UYJR58M">cookbook</a> of Russian-style recipes.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

